@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Outfit", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #f3f4f6;
  color: #1f2937;
}

